---
import Layout from '~/layouts/BlogPageLayout.astro';

const metadata = {
  title: `ByteMath`,
  site: {
    name: 'ByteMath',
    site: "www.bytemath.lorenzozambelli.it/contact"
  },
};

---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="max-w-screen-md mb-8 lg:mb-18">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Contact Us</h2>
          <p class="text-gray-500 sm:text-xl dark:text-gray-400">Do you want to gives some advices? Or you just want to follows us on all our social media? Then look below! </p>
      </div>
      <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-4 md:gap-12 md:space-y-0">
          <div>
            <a href="mailto: bytemath@lorenzozambelli.it?Subject=Hello" target="_top" title="Email the ByteMath team">
              <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full dark:bg-white dark:text-black lg:h-12 lg:w-12 dark:bg-primary-900">
                <svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"></path></svg>
              </div>
              <h3 class="mb-2 text-xl font-bold dark:text-white">Email</h3>
            </a>
            <p class="text-gray-500 dark:text-gray-400">We are always open to reply to your inqueries, advices, and most important feedbacks</p>
          </div>
          <div>
            <a href="https://instagram.com/bytemath_" target="_blank" title="Contact the ByteMath team at instagram" rel="noopener noreferrer">   
              <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full dark:bg-white  dark:text-black lg:h-12 lg:w-12 dark:bg-primary-900">
                <svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" stroke="currentColor" fill="currentColor" stroke-width="0" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>
              </div>
              <h3 class="mb-2 text-xl font-bold dark:text-white">Instagram</h3>
            </a>
              <p class="text-gray-500 dark:text-gray-400">On our Instagram page you can not only chat with us, but you can learn mathematics and programming through funny and interesting stories and curiosities!</p>
          </div>
          <div>
            <a href="https://www.youtube.com/channel/UCnyveEbLc5HYP2JNhjz6WtQ" target="_blank" title="Contact the ByteMath team at Youtube" rel="noopener noreferrer">    
              <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full dark:bg-white dark:text-black lg:h-12 lg:w-12 dark:bg-primary-900">
                <svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" stroke="currentColor" fill="currentColor" stroke-width="0" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/></svg>
              </div>
              <h3 class="mb-2 text-xl font-bold dark:text-white">Youtube</h3>
            </a>
            <p class="text-gray-500 dark:text-gray-400">On our youtube page we post our short lecture videos.</p>
          </div>
          <div>
            <a href="https://gitlab.com/ByteMath" target="_blank" title="See the ByteMath GitLab page" rel="noopener noreferrer">  
              <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full dark:bg-white dark:text-black lg:h-12 lg:w-12 dark:bg-primary-900">
                <svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" fill="currentColor" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M503.5 204.6L502.8 202.8L433.1 21.02C431.7 17.45 429.2 14.43 425.9 12.38C423.5 10.83 420.8 9.865 417.9 9.57C415 9.275 412.2 9.653 409.5 10.68C406.8 11.7 404.4 13.34 402.4 15.46C400.5 17.58 399.1 20.13 398.3 22.9L351.3 166.9H160.8L113.7 22.9C112.9 20.13 111.5 17.59 109.6 15.47C107.6 13.35 105.2 11.72 102.5 10.7C99.86 9.675 96.98 9.295 94.12 9.587C91.26 9.878 88.51 10.83 86.08 12.38C82.84 14.43 80.33 17.45 78.92 21.02L9.267 202.8L8.543 204.6C-1.484 230.8-2.72 259.6 5.023 286.6C12.77 313.5 29.07 337.3 51.47 354.2L51.74 354.4L52.33 354.8L158.3 434.3L210.9 474L242.9 498.2C246.6 500.1 251.2 502.5 255.9 502.5C260.6 502.5 265.2 500.1 268.9 498.2L300.9 474L353.5 434.3L460.2 354.4L460.5 354.1C482.9 337.2 499.2 313.5 506.1 286.6C514.7 259.6 513.5 230.8 503.5 204.6z"/></svg>
              </div>
              <h3 class="mb-2 text-xl font-bold dark:text-white">GitLab</h3>
            </a>
            <p class="text-gray-500 dark:text-gray-400">All our code is save in our GitLab page. In here you can find packages, notebooks and execises.</p>
          </div>
      </div>
  </div>
</Layout>
