---
import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';
import { getHomePermalink } from '~/utils/permalinks';
import Wave from '~/components/ui/Wave.astro'

enum FooterType {
  None = 0,
  Wave = 1,
  Fadeout = 2
}

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links?: Array<Link>;
  isFlex?: boolean;
}

export interface Props {
  name: string;
  links?: Array<Links>;
  repository?: string;
  theme?: string;
  footerType?: FooterType;
  logo?:  string;
}



const { name="", links = [], repository = 'https://gitlab.com/b64-Lorenzo/', theme = 'light', footerType = 1, logo = '' } = Astro.props;

const displayName = name || SITE?.name;
---

    <footer class="py-4">
    {
      footerType == 1 ?
      <div class="text-bytemath">
        <Wave />
        {/* <Fragment set:html={Wave}  /> */}
      </div>
      : footerType == 2 ? 
        <div class="h-[4vh] bg-gradient-to-b from-white to-black"></div>
      : <div class:list={[{ dark: theme === 'dark' }, 'bg-bytemath relative border-t border-gray-200 dark:border-slate-800 not-prose']}></div>
    }
  <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="mx-auto w-full h-max-full p-12 py-6 lg:py-8 bg-bytemath dark:bg-dark">
    <div class=" relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300">
    <div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 md:py-12">
      <div class="col-span-12 lg:col-span-4">
        <div class="mb-6 flex">
          <div class="mb-6 md:w-1/3 flex h-[4vh] text-white">
            <Fragment set:html={logo}  />
          </div>
          <a class="inline-block font-bold text-xl text-white" href={getHomePermalink()}>{displayName}</a>
        </div>
      </div>
      {
        links.map(({ title, links, isFlex }) => (
          <div class="col-span-6 md:col-span-3 lg:col-span-2">
            <div class="dark:text-gray-300 mb-6 text-sm font-bold uppercase text-white">{title}</div>
            {links && Array.isArray(links) && links.length > 0 && (
              <ul class={isFlex ? "flex text-sm" : "static text-sm"}>
                {links.map(({ text, href, ariaLabel, icon }) => (
                  <li class="mb-3 sm:mb-2 flex flex-auto">
                    { title == "Follow Us!" ?
                        <a href={href} class="inline-block text-[1.2rem] px-[0.1rem] transition-all hover:-mt-2 hover:pb-2 text-white">
                          {
                            icon ?  <Icon name={icon} class="w-5 h-5" /> : ""
                          }
                        </a>
                        : 
                    <a
                      class="inline-block py-0.5 w-auto text-muted "
                      href={href}
                      aria-label={ariaLabel}
                    >
                      <span class="whitespace-nowrap w-auto text-white font-light text-opacity-80 hover:text-opacity-100 hover:font-semibold xl:hover:px-3 transition-all ease-in-out">
                        {icon ? <Icon name={icon} class="w-5 h-5" />  : ""}                                            
                        <Fragment set:html={text} />
                      </span>
                    </a>
                    }
                  </li>
                ))}
              </ul>
            )}
          </div>
        ))
      }
    </div>
    <div class="items-center text-center py-5">
      <span class="text-xs text-white font-[200]">
          &copy; Lorenzo Zambelli
          <p>
              <a href={repository}>
                  <span class="hover:font-[400]">
                      Source Code
                  </span>
              </a>
          </p>
      </span>
  </div>
  </div>
</div>
</footer>
