---
import Layout from '~/layouts/BlogPageLayout.astro';
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from "~/components/blog/Pagination.astro";
import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogList({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `ByteMath${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  site: {
    name: 'ByteMath',
    site: "www.bytemath.lorenzozambelli.it"
  },
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};

---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      subtitle="In a world where knowledge should know no bounds, I firmly believe that education should be free and readily available to all. That's why I'm dedicated to creating materials that are openly accessible to anyone, no matter where they are on the globe. Whether you're a curious learner, a student with a passion for numbers, or a budding programmer eager to write elegant code, I'm here to empower you with the tools to succeed."
    >
    Why ByteMath
    </Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    
  </section>

</Layout>
