---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';

import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Lorenzo Zambelli - Landing page for the websites of Lorenzo Zambelli',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get the repository',
        href: 'https://gitlab.com/b64-Lorenzo/www',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: getPermalink('/homes/personal') },
    ]}
    image={{ src: '~/assets/images/avatar.png', alt: 'Lorenzo Image' }}
  >
    <Fragment slot="title">
      Wellcome!
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">lorenzozambelli.it</span> is the web application containing all the projects and porfolio of Lorenzo Zambelli.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

</Layout>
