---
import favIcon from '~/assets/favicons/favicon-32x32.png';
import favIconSvg from '~/assets/favicons/ByteMath_me.svg?raw';
import appleTouchIcon from '~/assets/images/avatar.png';
---

<link rel="shortcut icon" href={favIcon.src} />
<link rel="icon" type="image/svg+xml" href={favIconSvg} />
<link rel="mask-icon" href={favIconSvg} color="#8D46E7" />
<link rel="apple-touch-icon" sizes="180x180" href={appleTouchIcon.src} />
