---
import type { ImageMetadata } from 'astro';
import { Icon } from 'astro-icon/components';
import Image from '~/components/common/Image.astro';

import { APP_BLOG } from 'astrowind:config';
import type { Post } from '~/types';

import { getPermalink } from '~/utils/permalinks';
import { findImage } from '~/utils/images';
import { getFormattedDate } from '~/utils/utils';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = (await findImage(post.image)) as ImageMetadata | undefined;

const link = APP_BLOG?.post?.isEnabled ? getPermalink(post.permalink) : '';

---
<div
  class="relative overflow-hidden rounded-xl border bg-white transition-transform duration-500 hover:-translate-y-1 hover:scale-105 md:flex md:flex-row dark:border-neutral-600 dark:bg-neutral-900"
>
  <a href={`${link}/index.html`} class="block md:flex md:flex-1">
    <div class="md:w-2/3">
      <Image
                src={image}
                class="mx-auto w-full max-w-full rounded-lg"
                widths={[392, 700, 980, 1960]}
                width={900}
                sizes="(max-width: 360px) 392px, (max-width: 720px) 700px, (max-width: 1600px) 980px, 1960px"
                alt={post.title}
                aspectRatio="16:9"
                loading="lazy"
                decoding="async"
              />
    </div>
    <div
      class="absolute bottom-0 end-0 start-0 from-black p-4 md:relative md:flex md:w-1/3 md:flex-col md:justify-start md:p-5"
    >
    <div class="mt-8 flex items-center gap-4 text-xs text-white md:text-neutral-900 dark:text-white">
      <div class="mb-1">
        <span class="text-sm">
          <Icon name="tabler:clock" class="w-3.5 h-3.5 inline-block -mt-0.5 dark:text-gray-400" />
          <time datetime={String(post.publishDate)} class="inline-block">{getFormattedDate(post.publishDate)}</time>
          {
            post.author && (
              <>
                {' '}
                · <Icon name="tabler:user" class="w-3.5 h-3.5 inline-block -mt-0.5 dark:text-gray-400" />
                <span>{post.author.replaceAll('-', ' ')}</span>
              </>
            )
          }
          {
            post.category && (
              <>
                {' '}
                ·{' '}
                <a class="hover:underline" href={getPermalink(post.category.slug, 'category')}>
                  {post.category.title}
                </a>
              </>
            )
          }
        </span>
      </div>
      </div>
      <h3 class="mt-3 text-lg font-bold text-white md:text-neutral-900 dark:text-white">
        {post.title}
      </h3>
      <p class="mt-3 text-white md:text-neutral-900 dark:text-white">
        <Fragment />
      </p>
    </div>
  </a>
</div>
