---
import type { ImageMetadata } from 'astro';
import { Icon } from 'astro-icon/components';
import Image from '~/components/common/Image.astro';

import { APP_BLOG } from 'astrowind:config';
import type { Post } from '~/types';

import { getPermalink } from '~/utils/permalinks';
import { findImage } from '~/utils/images';
import { getFormattedDate } from '~/utils/utils';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = (await findImage(post.image)) as ImageMetadata | undefined;

const link = APP_BLOG?.post?.isEnabled ? getPermalink(post.permalink) : '';
---
<div
  class="relative overflow-hidden rounded-xl bg-white transition-transform duration-500 hover:-translate-y-1 hover:scale-105 dark:bg-neutral-900"
>
  <a href={`${link}/index.html`} class="block">
    <Image
                src={image}
                class="mx-auto w-full max-w-full rounded-lg"
                widths={[392, 700, 980, 1960]}
                width={900}
                sizes="(max-width: 360px) 392px, (max-width: 720px) 700px, (max-width: 1600px) 980px, 1960px"
                alt={post.title}
                aspectRatio="16:9"
                loading="lazy"
                decoding="async"
              />
    <div class="absolute bottom-0 end-0 start-0 bg-gradient-to-t p-5 md:p-6">
      <div class="mt-16 flex items-center gap-4 text-xs text-white">
        <div class="mb-1">
          <span class="text-sm">
            <Icon name="tabler:clock" class="w-3.5 h-3.5 inline-block -mt-0.5 dark:text-gray-400" />
            <time datetime={String(post.publishDate)} class="inline-block">{getFormattedDate(post.publishDate)}</time>
            {
              post.author && (
                <>
                  {' '}
                  · <Icon name="tabler:user" class="w-3.5 h-3.5 inline-block -mt-0.5 dark:text-gray-400" />
                  <span>{post.author.replaceAll('-', ' ')}</span>
                </>
              )
            }
            {
              post.category && (
                <>
                  {' '}
                  ·{' '}
                  <a class="hover:underline" href={getPermalink(post.category.slug, 'category')}>
                    {post.category.title}
                  </a>
                </>
              )
            }
          </span>
        </div>
      </div>
      <h3 class="mt-2 text-lg font-bold text-white">{post.title}</h3>
    </div>
  </a>
</div>
