---
import Item from '~/components/blog/ListItem.astro';
import HeroItem from '~/components/blog/HeroListItem.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
const firstPagePosts = posts;
---

<ul>
  {
    posts.map((post, index) => (
      <li class="mb-12 md:mb-20">
        {index === 0 ? <HeroItem post={post} /> : null}
      </li>
    ))
  }
</ul>

<div class="mb-4 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2">
  {firstPagePosts.slice(1, 3).map((post) => <Item post={post} />)}
</div>

<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
  {firstPagePosts.slice(3).map((post) => <Item post={post} />)}
</div>