---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Personal Homepage Demo',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'Resume', href: '#resume' },
        { text: 'Porfolio', href: '#porfolio' },
        { text: 'Gitlab', href: 'https://gitlab.com/b64-Lorenzo' },
      ]}
      actions={[
        {
          text: 'Contact me',
          href: getPermalink('/contact#form'),
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>
  

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Lorenzo Zambelli"
    tagline="Personal Web"
    actions={[{ variant: 'primary', text: 'Contact me', href: getPermalink('/contact#form') }]}
  >
    
    <Fragment slot="subtitle">
      I am an Italian guy known for being detail-oriented and meticulous. I find great pleasure in engaging with puzzles, coding, and exploring new knowledge. Actively participating in my community is important to me, as I enjoy contributing my best efforts in every situation, often pushing myself to go the extra mile. Nonetheless, I recognize the significance of maintaining a balance and taking breaks when needed. 
    </Fragment>
    
  </Hero>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Strategist <br /> <span class="font-normal">Top Dutch Solar Racing, Groningen, NL</span> <br /> <span class="text-sm font-normal">2024 - Present</span>',
        description: `We are an diverse team of Dutch and international students located in the heart of the North of the Netherlands, dedicated to designing and racing cutting-edge solar-powered cars. Competing in the European (iLumen European Solar Challenge), and the international (Bridgestone World Solar Challenge) in Australia, we aim to revolutionise the future and push the boundaries of sustainable transportation with sustainable vehicles, thus contributing to a greener world.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'PromoTeam <br /> <span class="font-normal">University of Groningen, Groningen, NL</span> <br /> <span class="text-sm font-normal">2023 - Present</span>',
        description: `As a member of the Promoteam, I promote mathematics degrees by hosting open days and "student for a day" events. My role involves helping prospective students understand that this degree is a perfect fit for them, making the program more accessible and appealing.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Teaching Assistant <br /> <span class="font-normal">University of Groningen, Groningen, NL</span> <br /> <span class="text-sm font-normal">2022 - Present</span>',
        description: `TA at the University of Groningen for Mathematics, Physics and Computer scients Bachelor courses and Summer School for Master in Mechanical Engineering (August 2023) <br />As a Teaching Assistant, I create comprehensive summaries and provide additional materials to offer students alternative perspectives on class content. I support classroom activities, facilitate discussions, and help students understand complex concepts, enhancing their overall learning experience.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Board Member <br /> <span class="font-normal">Fysisch-Mathematische Faculteitsvereniging (FMF), Groningen, NL</span> <br /> <span class="text-sm font-normal">2022 - 2023</span>',
        description: `Board Member of the study-student association FMF.<br /> Contributed to the association's operations by organizing events and enhancing its internal processes.<br />  Gained hands-on experience in the internal operations of a big association and being the face of it.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Courier <br /> <span class="font-normal">Takeaway.com Express Netherlands, Groningen, NL</span> <br /> <span class="text-sm font-normal">2021 - 2022</span>',
        description: `Takeaway.com Express Netherlands B.V. courier`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'School Council <br /> <span class="font-normal">ITIS Feltrinell, Milan, Italy</span> <br /> <span class="text-sm font-normal">2017 - 2018</span>',
        description: `Reppresentative for the students at the school council.<br /> Contributed to the hosting of educational activities and reppresentation of the students in school related matters. <br />  Gained practical experience in the internal operations of a large institution and developed strong interpersonal relationships with officials.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  


  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Master of (Applied) Mathematics<br /> <span class="font-normal">University of Groningen</span> <br /> <span class="text-sm font-normal">2023 - present</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of (Applied) Mathematics<br /> <span class="font-normal">University of Groningen</span> <br /> <span class="text-sm font-normal">2020 - 2023</span>`,
        icon: 'tabler:school',
      },
      {
        title: `High-school Exchange Student<br /> <span class="font-normal">USA, Idaho, Boise</span> <br /> <span class="text-sm font-normal">2018 - 2019</span>`,
        icon: 'tabler:school',
      }
    ]}
    classes={{ container: 'max-w-3xl' }}
    
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    columns={2}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Programming',
        description: 'Passionate about programming and experienced in multiple languages, including Python, R, TypeScript, and LaTeX.',
      },
      {
        title: 'Soft skills',
        description: 'Through my roles as a high school council member, study association FMF board member, teaching assistant, and exchange student at 17, I have developed strong soft skills in time management, leadership, and interpersonal relationships.',
      },
      {
        title: 'Attention to detail',
        description: 'Diligent in maintaining precision and quality in all my work.',
      },
      {
        title: 'Adaptability',
        description: 'Quickly adapt to new technologies and situations, drawing on my experience of stepping outside my comfort zone.',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    title="Porfolio"
    subtitle="Some of the works I have done"
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Developed a design framework for the study association FMF.',
      },
      {
        title: 'Role:',
        description:
          'Led the development of the framework, with the help of more senior developer.',
      },
    ]}
    image={{
      src: '~/assets/images/fmf.svg',
      alt: 'FMF Logo',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://gitlab.com/fmfnl/resources/design-framework',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        FMF Design Framework:
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          "ByteMath, my YouTube-Instagram-GitLab channel, where I've been sharing videos, notebooks, and curiosities since 2023. On this platform, you'll discover a diverse range of content covering various mathematical and programming topics. I'm constantly open to suggestions for what topics to explore next, so feel free to share your ideas.",
      },
    ]}
    image={{
      src: '~/assets/images/ByteMath.svg',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: getPermalink('/homes/bytemath'),
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        ByteMath: <br /><span class="text-2xl">Learning Mathematics and programming together</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `An online web budgeting application enabling seamless navigation across multiple banking apps for precise financial tracking and budgeting.`,
      },
      {
        title: 'Role:',
        description: `Only developer, given is an initial personal project for learning.`,
      },
    ]}
    image={{
      src: '~/assets/images/logo.svg',
      alt: 'FiMa Logo',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: getPermalink('/homes/fima'),
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        FiMa: <br /><span class="text-2xl">An online budgeting web application</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <!-- <Testimonials
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Mark Thompson',
        job: 'Creative director',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
    ]}
  /> -->

  <!-- BlogLatestPost Widget **************** -->

  <!-- <BlogLatestPosts
    id="blog"
    title="Explore my articles on my ByteMath Blog"
  >
  </BlogLatestPosts> -->
</Layout>
