---

---

  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
    <defs>
      <style>
        .cls-1 {
          fill: currentColor;
        }

        .cls-1, .cls-2, .cls-3 {
          stroke-width: 0px;
        }

        .cls-1, .cls-3 {
          fill-rule: evenodd;
        }

        .cls-2, .cls-3 {
          fill: currentColor;
        }
      </style>
      <pattern id="wave-pattern" x="0" y="0" width="100%" height="200" patternUnits="userSpaceOnUse">
        <!-- Blue Wave with a Long Middle -->
        <path class="cls-1" d="M -100 100 Q 100 60 300 100 T 500 100 Q 700 140 900 100 T 1100 100 Q 1300 60 1500 100 T 1700 100 V 200 H -100 Z" stroke-width="0"></path>
      </pattern>
    </defs>
  
    <!-- Use the Pattern as a Rectangle Fill -->
    <rect width="100%" height="100%" fill="url(#wave-pattern)" />
  </svg>
